.m0, .m-n {
    margin: 0 !important;
}

.m5, .m-xs {
    margin: 5px !important;
}

    .m5.n, .m-xs.n {
        margin: -5px !important;
    }

.m10, .m-sm {
    margin: 10px !important;
}

    .m10.n, .m-sm.n {
        margin: -10px !important;
    }

.m15, .m {
    margin: 15px !important;
}

    .m15.n, .m.n {
        margin: -15px !important;
    }

.m20, .m-md {
    margin: 20px !important;
}

    .m20.n, .m-md.n {
        margin: -20px !important;
    }

.m30, .m-lg {
    margin: 30px !important;
}

    .m30.n, .m-lg.n {
        margin: -30px !important;
    }

.m40, .m-xl {
    margin: 40px !important;
}

    .m40.n, .m-xl.n {
        margin: -40px !important;
    }

.m50, .m-xxl {
    margin: 50px !important;
}

    .m50.n, .m-xxl.n {
        margin: -50px !important;
    }

.mb0, .mb-n {
    margin-bottom: 0 !important;
}

.mb5, .mb-xs {
    margin-bottom: 5px !important;
}

    .mb5.n, .mb-xs.n {
        margin-bottom: -5px !important;
    }

.mb10, .mb-sm {
    margin-bottom: 10px !important;
}

    .mb10.n, .mb-sm.n {
        margin-bottom: -10px !important;
    }

.mb15, .mb {
    margin-bottom: 15px !important;
}

    .mb15.n, .mb.n {
        margin-bottom: -15px !important;
    }

.mb20, .mb-md {
    margin-bottom: 20px !important;
}

    .mb20.n, .mb-md.n {
        margin-bottom: -20px !important;
    }

.mb30, .mb-lg {
    margin-bottom: 30px !important;
}

    .mb30.n, .mb-lg.n {
        margin-bottom: -30px !important;
    }

.mb40, .mb-xl {
    margin-bottom: 40px !important;
}

    .mb40.n, .mb-xl.n {
        margin-bottom: -40px !important;
    }

.mb50, .mb-xxl {
    margin-bottom: 50px !important;
}

    .mb50.n, .mb-xxl.n {
        margin-bottom: -50px !important;
    }

.ml0, .ml-n {
    margin-left: 0 !important;
}

.ml5, .ml-xs {
    margin-left: 5px !important;
}

    .ml5.n, .ml-xs.n {
        margin-left: -5px !important;
    }

.ml10, .ml-sm {
    margin-left: 10px !important;
}

    .ml10.n, .ml-sm.n {
        margin-left: -10px !important;
    }

.ml15, .ml {
    margin-left: 15px !important;
}

    .ml15.n, .ml.n {
        margin-left: -15px !important;
    }

.ml20, .ml-md {
    margin-left: 20px !important;
}

    .ml20.n, .ml-md.n {
        margin-left: -20px !important;
    }

.ml30, .ml-lg {
    margin-left: 30px !important;
}

    .ml30.n, .ml-lg.n {
        margin-left: -30px !important;
    }

.ml40, .ml-xl {
    margin-left: 40px !important;
}

    .ml40.n, .ml-xl.n {
        margin-left: -40px !important;
    }

.ml50, .ml-xxl {
    margin-left: 50px !important;
}

    .ml50.n, .ml-xxl.n {
        margin-left: -50px !important;
    }

.mr0, .mr-n {
    margin-right: 0 !important;
}

.mr5, .mr-xs {
    margin-right: 5px !important;
}

    .mr5.n, .mr-xs.n {
        margin-right: -5px !important;
    }

.mr10, .mr-sm {
    margin-right: 10px !important;
}

    .mr10.n, .mr-sm.n {
        margin-right: -10px !important;
    }

.mr15, .mr {
    margin-right: 15px !important;
}

    .mr15.n, .mr.n {
        margin-right: -15px !important;
    }

.mr20, .mr-md {
    margin-right: 20px !important;
}

    .mr20.n, .mr-md.n {
        margin-right: -20px !important;
    }

.mr30, .mr-lg {
    margin-right: 30px !important;
}

    .mr30.n, .mr-lg.n {
        margin-right: -30px !important;
    }

.mr40, .mr-xl {
    margin-right: 40px !important;
}

    .mr40.n, .mr-xl.n {
        margin-right: -40px !important;
    }

.mr50, .mr-xxl {
    margin-right: 50px !important;
}

    .mr50.n, .mr-xxl.n {
        margin-right: -50px !important;
    }

.mt0, .mt-n {
    margin-top: 0 !important;
}

.mt5, .mt-xs {
    margin-top: 5px !important;
}

    .mt5.n, .mt-xs.n {
        margin-top: -5px !important;
    }

.mt10, .mt-sm {
    margin-top: 10px !important;
}

    .mt10.n, .mt-sm.n {
        margin-top: -10px !important;
    }

.mt15, .mt {
    margin-top: 15px !important;
}

    .mt15.n, .mt.n {
        margin-top: -15px !important;
    }

.mt20, .mt-md {
    margin-top: 20px !important;
}

    .mt20.n, .mt-md.n {
        margin-top: -20px !important;
    }

.mt30, .mt-lg {
    margin-top: 30px !important;
}

    .mt30.n, .mt-lg.n {
        margin-top: -30px !important;
    }

.mt40, .mt-xl {
    margin-top: 40px !important;
}

    .mt40.n, .mt-xl.n {
        margin-top: -40px !important;
    }

.mt50, .mt-xxl {
    margin-top: 50px !important;
}

    .mt50.n, .mt-xxl.n {
        margin-top: -50px !important;
    }

.p0, .p-n {
    padding: 0 !important;
}

.p5, .p-xs {
    padding: 5px !important;
}

    .p5.n, .p-xs.n {
    }

.p10, .p-sm {
    padding: 10px !important;
}

    .p10.n, .p-sm.n {
    }

.p15, .p {
    padding: 15px !important;
}

    .p15.n, .p.n {
    }

.p20, .p-md {
    padding: 20px !important;
}

    .p20.n, .p-md.n {
    }

.p30, .p-lg {
    padding: 30px !important;
}

    .p30.n, .p-lg.n {
    }

.p40, .p-xl {
    padding: 40px !important;
}

    .p40.n, .p-xl.n {
    }

.p50, .p-xxl {
    padding: 50px !important;
}

    .p50.n, .p-xxl.n {
    }

.pb0, .pb-n {
    padding-bottom: 0 !important;
}

.pb5, .pb-xs {
    padding-bottom: 5px !important;
}

    .pb5.n, .pb-xs.n {
    }

.pb10, .pb-sm {
    padding-bottom: 10px !important;
}

    .pb10.n, .pb-sm.n {
    }

.pb15, .pb {
    padding-bottom: 15px !important;
}

    .pb15.n, .pb.n {
    }

.pb20, .pb-md {
    padding-bottom: 20px !important;
}

    .pb20.n, .pb-md.n {
    }

.pb30, .pb-lg {
    padding-bottom: 30px !important;
}

    .pb30.n, .pb-lg.n {
    }

.pb40, .pb-xl {
    padding-bottom: 40px !important;
}

    .pb40.n, .pb-xl.n {
    }

.pb50, .pb-xxl {
    padding-bottom: 50px !important;
}

    .pb50.n, .pb-xxl.n {
    }

.pl0, .pl-n {
    padding-left: 0 !important;
}

.pl5, .pl-xs {
    padding-left: 5px !important;
}

    .pl5.n, .pl-xs.n {
    }

.pl10, .pl-sm {
    padding-left: 10px !important;
}

    .pl10.n, .pl-sm.n {
    }

.pl15, .pl {
    padding-left: 15px !important;
}

    .pl15.n, .pl.n {
    }

.pl20, .pl-md {
    padding-left: 20px !important;
}

    .pl20.n, .pl-md.n {
    }

.pl30, .pl-lg {
    padding-left: 30px !important;
}

    .pl30.n, .pl-lg.n {
    }

.pl40, .pl-xl {
    padding-left: 40px !important;
}

    .pl40.n, .pl-xl.n {
    }

.pl50, .pl-xxl {
    padding-left: 50px !important;
}

    .pl50.n, .pl-xxl.n {
    }

.pr0, .pr-n {
    padding-right: 0 !important;
}

.pr5, .pr-xs {
    padding-right: 5px !important;
}

    .pr5.n, .pr-xs.n {
    }

.pr10, .pr-sm {
    padding-right: 10px !important;
}

    .pr10.n, .pr-sm.n {
    }

.pr15, .pr {
    padding-right: 15px !important;
}

    .pr15.n, .pr.n {
    }

.pr20, .pr-md {
    padding-right: 20px !important;
}

    .pr20.n, .pr-md.n {
    }

.pr30, .pr-lg {
    padding-right: 30px !important;
}

    .pr30.n, .pr-lg.n {
    }

.pr40, .pr-xl {
    padding-right: 40px !important;
}

    .pr40.n, .pr-xl.n {
    }

.pr50, .pr-xxl {
    padding-right: 50px !important;
}

    .pr50.n, .pr-xxl.n {
    }

.pt0, .pt-n {
    padding-top: 0 !important;
}

.pt5, .pt-xs {
    padding-top: 5px !important;
}

    .pt5.n, .pt-xs.n {
    }

.pt10, .pt-sm {
    padding-top: 10px !important;
}

    .pt10.n, .pt-sm.n {
    }

.pt15, .pt {
    padding-top: 15px !important;
}

    .pt15.n, .pt.n {
    }

.pt20, .pt-md {
    padding-top: 20px !important;
}

    .pt20.n, .pt-md.n {
    }

.pt30, .pt-lg {
    padding-top: 30px !important;
}

    .pt30.n, .pt-lg.n {
    }

.pt40, .pt-xl {
    padding-top: 40px !important;
}

    .pt40.n, .pt-xl.n {
    }

.pt50, .pt-xxl {
    padding-top: 50px !important;
}

    .pt50.n, .pt-xxl.n {
    }