html, body {
    height: 100%;
}

body {
    font-family: 'PT Sans', sans-serif !important;
    font-weight: 700;
    font-size: 13px;
    color: #70707d;
    cursor: auto;
}

    body.login {
        background: url('/img/login_bg.png') no-repeat fixed center center;
    }

.wrapper {
    min-height: 100%;
}

    .wrapper:after {
        content: "";
        display: block;
    }

    .footer, .wrapper:after {
        height: 150px;
    }

a {
    color: #888;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
}

    a:hover {
        color: #1899C5;
    }


header {
    padding: 15px 0;
    border-bottom: 3px solid #222;
    margin-bottom: 30px;
    background-color: #EAE8EB;
}

.red-text {
    color: #ed1d25 !important;
}

.blue-text {
    color: #1899C5 !important;
}

.page-title {
    color: #15b5ea;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
}

.user-area {
    color: #1899c5;
    margin-top: 15px;
    padding: 23px 0;
}

.user-area-user {
    color: #fff;
    margin-top: 15px;
}


.white-box {
    background: rgba(255,255,255,0.8);
    padding: 15px;
    border: 1px solid #e1e1e1;
}

    .white-box h5 {
        color: #1899c5;
        margin-bottom: 0 !important;
        margin-top: 10px !important;
    }

    .white-box h3 {
        font-family: 'PT Sans', sans-serif;
        color: #ed1d25;
        margin-top: 10px !important;
        margin-bottom: 0 !important;
    }

.user-icon {
    color: #1899C5;
}

.user-text {
    color: #ed1d25;
    font-family: 'PT Sans', sans-serif;
    margin-top: 35px;
    margin-left: 10px;
}

.content-box {
    border: 2px solid #f7f7f7;
    padding: 15px;
    margin-top: 20px;
}

    .content-box.turq {
        background-color: #ECFAFC;
        border: 2px solid #f7f7f7;
        padding: 15px;
        margin-top: 20px;
    }


    .content-box label {
        margin: 5px 0;
    }

.well .content-box {
    border: 2px solid #dce9eb;
}


.content-box.winner {
    background: url('/img/winner_bg.png') repeat center top !important;
}

    .content-box.winner .point {
        font-family: 'PT Sans', sans-serif;
        font-size: 16px;
        color: #ed1d25;
    }

.content-box.gifts {
    min-height: 125px;
}

.list-item {
    padding: 15px;
    margin-bottom: 5px;
    background-color: #F6FCFD;
    transition: all 1s;
}


    .list-item:hover {
        transition: all 1s;
        background-color: #e4f9fc;
    }


.well .list-item {
    background-color: #fff;
}

.list-item > .counter {
    background-color: #ed1d25;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

.list-item .stock_code {
    color: #899fa5;
}

.text-big {
    font-size: 34px;
}

.text-small {
    font-size: 16px;
}

.point {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #15b5ea;
}

.small {
    font-size: 12px;
    color: #ed1d25;
    font-family: 'PT Sans', sans-serif;
}

.preview-area {
    position: relative;
    border: 1px solid #b1b1be;
}

    .preview-area .remove-button {
        position: absolute;
        top: 0;
        right: 0;
    }


footer {
    background-color: #f6f4f6;
    margin-top: 0;
    min-height: 40px;
}


.turquoise {
    color: #15b5ea;
    text-shadow: 0 0 3px #000;
}

#loginArea {
    float: right;
    width: 100%;
}

    #loginArea > .imzalabtn,
    #loginArea > .imzacount {
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        display: inline-block;
        vertical-align: middle;
        height: auto;
        margin: 12.5px 0 12.5px;
        padding: 10px;
        border-radius: 3px;
        font-weight: 500;
        font-size: 18px;
    }

    #loginArea > .imzalabtn {
        color: #fff;
        float: right;
        background-color: #25ADDD;
    }

    #loginArea > .imzacount {
        float: left;
        background-color: #fff;
        color: #25addd;
        margin-right: 10px;
        margin-left: 10px;
    }

.logoArea {
    padding: 40px 20px;
}

#loginArea img {
    height: 100px;
}

.focused {
    border: 2px solid #1899C5;
}

.muhattap-area {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    color: #222;
    letter-spacing: 1.5px;
    margin-top: 40px !important;
}

    .muhattap-area #muhattap span {
        border-bottom: 1px solid #222;
        letter-spacing: 0.1px;
    }

#baslik_h1 {
    font-size: 5rem;
    line-height: 1.329;
    margin: 0.707em 0;
    font-weight: 900;
    letter-spacing: 0;
    text-transform: unset;
    font-family: 'Kanit', sans-serif;
}

#data-area {
    color: #222;
    margin: 0 auto;
    text-align: center;
    float: none;
}

.user_only {
    text-align: center;
}

#status {
    padding: 10px 0 !important;
}

.owner-area {
    margin: 0 auto;
    float: left;
}

.owner-img {
    width: 50px;
    border-radius: 60px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: top center;
    background-origin: unset;
}


.owner-name {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    padding: 0 10px;
    float: left;
    width: 100%;
}


.owner-location {
    font-size: 18px;
    color: #888;
    font-weight: 300;
    text-align: center;
}

#content {
    text-align: left;
    font-size: 1.8rem !important;
    color: #363135;
    letter-spacing: 0.7px;
    font-weight: 300;
}

.imzala_h3 {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 22px;
    line-height: normal;
    letter-spacing: normal;
    color: #363135;
    text-align: center;
    padding-right: 0;
}

.imzala_span {
    font-size: 1.2rem !important;
    color: #737273 !important;
    line-height: 1.5;
}

#status div.textareawow {
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 3px 3px 4px rgb(224, 224, 224);
    min-width: 100%;
    float: right;
    text-indent: 10px;
    padding: 15px;
    font-weight: 200;
    height: 160px;
    text-align: left;
    color: #222;
    font-size: 18px;
}

textare.textareawow {
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 3px 3px 4px rgb(224, 224, 224);
    min-width: 100%;
    float: right;
    text-indent: 10px;
    padding: 15px;
    font-weight: 400;
    height: 160px;
    text-align: left;
}

.prestxt {
    margin: 10px 0;
    border: 1px solid rgb(224, 224, 224);
    font-weight: 400;
    text-indent: 5px;
    font-size: 18px;
    border-radius: 2px;
    width: 100%;
}

.presbtn {
    text-indent: 5px;
    font-size: 18px;
    border-radius: 2px;
    width: 100%;
    background-color: #fff;
    border: 1px solid rgb(224, 224, 224);
    margin-top: 10px;
    padding: 2px;
    font-weight: 500;
    letter-spacing: 2px;
}

    .presbtn:hover {
        background-color: #F5F5F5 !important;
    }

.progress .progress-bar span {
    position: absolute;
    left: 0;
    right: 0;
    color: #222;
    font-weight: 500;
}

#imzalayanlar,
#imzalamasebebleri {
    margin: 40px 0;
    text-align: left;
}

    #imzalayanlar > h3,
    #imzalamasebebleri > h3 {
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 10px;
        float: left;
        margin-top: 20px;
        width: 100%;
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 22px;
        line-height: normal;
        letter-spacing: normal;
        cursor: pointer;
    }

    #imzalayanlar i, #imzalamasebebleri i {
        padding-top: 5px;
        padding-left: 5px;
        padding-top: 5px;
        padding-left: 5px;
    }

.icerik {
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0;
}

.imzasahibi {
    font-weight: 300;
    line-height: 1;
    text-align: left;
    background-color: #222;
    color: #fff;
    z-index: 9999;
    padding: 10px;
    margin: 1px;
    border-radius: 5px;
    font-size: 11px !important;
    float: left;
}


.imzayeri {
    font-weight: 400;
}

.gosterup {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.gosterdown {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.gosterup,
.gosterdown {
    background-image: url('../img/arrow-right.gif');
    background-size: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    background-position-y: center;
    width: 24px;
    height: 24px;
    display: block;
    float: left;
    background-color: #fff;
    border-radius: 25px;
    margin-right: 10px;
}

#status textarea {
    width: 100%;
    color: #222;
    font-weight: 700;
    font-size: 18px;
}

#status #imzalabtn {
    background-color: #25addd;
    padding: 15px 0px;
    margin-top: 25px;
}

    #status #imzalabtn:hover {
        background-color: #dd8b25 !important;
    }

.gosterarea {
    text-align: right;
    float: right;
    background-color: #444;
    width: 100%;
    padding: 4px;
    color: #fff;
    border-radius: 40px;
}

.imzatarih {
    float: right;
    font-size: 12px;
}

#gSignInWrapper {
    float: right;
    margin: 10px 0 0;
}


#mail,
#customBtn,
.twitter_button_area > input,
.facebook_button_area > input {
    background-size: 40px;
    background-position-x: 5px;
    height: 50px;
    float: left;
    background-repeat: no-repeat;
    text-align: right;
    margin-top: 0;
    line-height: 50px;
    background-color: #fff;
    border: 1px solid rgb(224, 224, 224);
    font-size: 16px !important;
    color: #363135;
    letter-spacing: 0.7px;
    font-weight: 300;
    width: 100%;
    background-position-y: 5px;
    padding-right: 5px;
    cursor: pointer;
    font-family: 'PT Sans', sans-serif;
    border-radius: 24px;
}

    #maillog > .pressbtn:hover,
    #customBtn:hover {
        background-color: #F5F5F5 !important;
    }

.fb-share-button.fb_iframe_widget iframe {
    visibility: visible !important;
    width: 80px !important;
    height: 20px !important;
}

.googleplus iframe {
    width: 100px !important;
    height: 30px !important;
    visibility: visible !important;
}

#customBtn {
    background-image: url('../img/sosyal/g.png');
}

#maillog > .pressbtn {
    width: 100%;
    float: right;
    padding-right: 10px;
    font-size: 15px;
    border: 1px solid rgb(224, 224, 224) !important;
    background-image: url('../img/sosyal/e.gif');
    text-align: right;
    background-size: 40px;
    background-repeat: no-repeat;
    height: 50px;
    background-position-y: center;
    background-position-x: 10px;
    line-height: 50px;
    font-weight: 300;
    margin: 10px 0 0;
    color: #222;
    font-family: 'PT Sans', sans-serif;
    border-radius: 24px;
}

#create_modal_body .modal-header {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-bottom: 0;
}

#create_modal_body input {
    width: 100%;
    line-height: normal;
    padding: 5px !important;
    border: solid 1px #dbd9db;
    border-radius: 5px;
    color: #363135;
    -webkit-appearance: none;
    display: block;
    text-indent: 7px;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif !important;
}

.twitter_button_area,
.facebook_button_area {
    margin: 10px 0 0;
}

    .twitter_button_area > input {
        background-image: url('../img/sosyal/t.png');
        background-size: 50px;
        background-position-y: 0;
    }

    .facebook_button_area > input {
        background-image: url('../img/sosyal/f.png');
        background-size: 50px;
        background-position-x: 5px;
        padding-right: 5px;
        background-position-y: 0;
    }

.login_hide {
    border: 0;
    float: left;
    background-color: transparent;
}

    .login_hide .login_hide_input_btn#kayitol {
        padding: 9px 0 !important;
        background-color: #25ADDD;
        color: #fff;
        border: 0;
        font-size: 16px;
        font-family: 'PT Sans', sans-serif !important;
    }

        .login_hide .login_hide_input_btn#kayitol:hover {
            background-color: #dd8b25;
        }

.logout > input {
    text-overflow: ellipsis !important;
    vertical-align: middle;
    border-radius: 3px;
    letter-spacing: normal;
    height: auto;
    border: 0;
    background-color: transparent;
    color: #222;
    text-align: right;
    padding: 3.5px 15px;
    font-weight: 300;
    font-size: 16px;
}

    .logout > input:hover {
        background-color: #222;
        color: #fff;
    }

.logout > a {
    float: left;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
}

#loading {
    margin: 0 auto;
    float: none;
    clear: both;
    display: block;
    height: 200px;
}

.girisyapilmis {
    float: left;
}

    .girisyapilmis > div {
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 20px 10px;
    }


.btn_imzala_area {
    text-align: center;
    background-color: #25ADDD;
    color: #fff;
    border-radius: 3px;
    transition: background .1s ease,border .1s ease;
    cursor: pointer;
    padding: 0px;
    font-size: 42px;
    font-weight: 600;
    width: 100%;
    padding: 29px 0px;
    font-family: 'Kanit', sans-serif;
}

    .btn_imzala_area:hover {
        text-align: center;
        background-color: #dd8b25;
        color: #fff;
        border-radius: 3px;
        transition: background .1s ease,border .1s ease;
        cursor: pointer;
        padding: 0px;
        font-size: 42px;
        width: 100%;
        padding: 29px 0px;
        font-family: 'Kanit', sans-serif;
    }

textarea.textareawow {
    min-height: 110px;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'PT Sans', sans-serif !important;
    font-size: 16px;
}

#status .user_only .owner-name > span {
    border-bottom: 1px solid #000;
    padding: 3px 5px;
    color: #222;
}

.g-recaptcha {
    z-index: 9999;
    float: none;
    margin: 12.5px auto 5px;
}

    .g-recaptcha > div {
        margin: 0 auto;
    }

.onimzamail {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px 10px;
    float: left;
    margin-top: 10px;
}

@media screen and (max-width: 769px) {
    .mobilfl {
        float: left !important;
    }

    .mobilWFull {
        width: 100% !important;
    }

    #data-area .imzala {
        padding-right: 0 !important;
    }

    #data-area .owner-area {
        text-align: center !important;
        float: none !important;
        margin-bottom: 15px !important;
    }

    #gSignInWrapper {
        width: 100% !important;
        text-align: center !important;
        margin: 0 auto !important;
        float: none !important;
        display: inline-block !important;
    }

    #customBtn {
        margin: 10px auto 0 !important;
        float: none;
    }

    .facebook_button_area {
        float: left;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

        .facebook_button_area .presbtn {
            float: none;
            margin: 0 auto;
        }
}
