@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Oswald:400,700&subset=latin-ext');

html, body {
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #70707d;
}

    body.login {
        background: url('/img/login_bg.png') no-repeat fixed center center;
    }

.wrapper {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -150px;
}

    .wrapper:after {
        content: "";
        display: block;
    }

    .footer, .wrapper:after {
        height: 150px;
    }

a {
    color: #777;
}

    a:hover {
        color: #1899C5;
    }

header {
    padding: 15px 0;
    border-bottom: 3px solid #222;
    margin-bottom: 30px;
    background-color: #f3f1f4;
}

.red-text {
    color: #ed1d25 !important;
}

.blue-text {
    color: #1899C5 !important;
}

.page-title {
    color: #15b5ea;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

.user-area {
    color: #1899c5;
    margin-top: 15px;
    padding: 23px 0;
}

.user-area-user {
    color: #fff;
    margin-top: 15px;
}


.white-box {
    background: rgba(255,255,255,0.8);
    padding: 15px;
    border: 1px solid #e1e1e1;
}

    .white-box h5 {
        color: #1899c5;
        margin-bottom: 0 !important;
        margin-top: 10px !important;
    }

    .white-box h3 {
        font-family: 'Ubuntu', sans-serif;
        color: #ed1d25;
        margin-top: 10px !important;
        margin-bottom: 0 !important;
    }

.user-icon {
    color: #1899C5;
}

.user-text {
    color: #ed1d25;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 35px;
    margin-left: 10px;
}

.content-box {
    border: 2px solid #f7f7f7;
    padding: 15px;
    margin-top: 20px;
}

    .content-box.turq {
        background-color: #ECFAFC;
        border: 2px solid #f7f7f7;
        padding: 15px;
        margin-top: 20px;
    }


    .content-box label {
        margin: 5px 0;
    }

.well .content-box {
    border: 2px solid #dce9eb;
}


.content-box.winner {
    background: url('/img/winner_bg.png') repeat center top !important;
}

    .content-box.winner .point {
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        color: #ed1d25;
    }

.content-box.gifts {
    min-height: 125px;
}

.list-item {
    padding: 15px;
    margin-bottom: 5px;
    background-color: #F6FCFD;
    transition: all 1s;
}


    .list-item:hover {
        transition: all 1s;
        background-color: #e4f9fc;
    }


.well .list-item {
    background-color: #fff;
}

.list-item > .counter {
    background-color: #ed1d25;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.list-item .stock_code {
    color: #899fa5;
}

.text-big {
    font-size: 34px;
}

.text-small {
    font-size: 16px;
}

.point {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: #15b5ea;
}

.small {
    font-size: 12px;
    color: #ed1d25;
    font-family: 'Ubuntu', sans-serif;
}

.preview-area {
    position: relative;
    border: 1px solid #b1b1be;
}

    .preview-area .remove-button {
        position: absolute;
        top: 0;
        right: 0;
    }


footer {
    background-color: #f6f4f6;
    margin-top: 50px;
    min-height: 150px;
}


.turquoise {
    color: #15b5ea;
    text-shadow: 0 0 3px #000;
}


#loginArea {
    text-transform: uppercase;
    color: #363135;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: inline-block;
    vertical-align: middle;
    float: left;
    width: 100%;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: normal;
    line-height: 3.7;
}

.logoArea {
    padding: 40px 20px;
}

#loginArea img {
    height: 100px;
}

.focused {
    border: 2px solid #1899C5;
}

.muhattap-area {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    color: #222;
    letter-spacing: 1.5px;
    margin-top: 40px !important;
}

    .muhattap-area #muhattap span {
        border-bottom: 1px solid #222;
        letter-spacing: 0.1px;
    }

#baslik_h1 {
    font-size: 3.44140625rem;
    line-height: 1.329;
    margin: 0.707em 0;
    font-weight: 900;
    letter-spacing: 0;
    text-transform: unset;
}

#data-area {
    color: #222;
    margin: 0 auto;
    text-align: center;
    float: none;
}

.owner-area {
    margin: 0 auto;
    float: left;
}

.owner-img {
    width: 50px;
    border-radius: 60px;
    height: 50px;
    background-image: url('/img/steve.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: top center;
    background-origin: unset;
}


.owner-name {
    display: inline-block;
    position: relative;
    top: -28px;
    left: 10px;
    border-bottom: 1px solid #000;
    font-size: 20px;
    width: 140px;
    text-align: center;
    font-weight: 300;
    float: left;
}

.owner-location {
    display: inline-block;
    font-size: 18px;
    color: #888;
    width: 140px;
    text-align: center;
    top: 30px;
    left: 0;
    position: absolute;
    right: 0;
    float: left;
    font-weight: 300;
}

#content {
    text-align: left;
    font-size: 1.8rem !important;
    color: #363135;
    letter-spacing: 0.7px;
    font-weight: 300;
}

.imzala_h3 {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 22px;
    line-height: normal;
    letter-spacing: normal;
    color: #363135;
}

.imzala_span {
    font-size: 1.2rem !important;
    color: #737273 !important;
    line-height: 1.5;
}

textarea.textareawow {
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 3px 3px 4px rgb(224, 224, 224);
    min-width: 100%;
    float: right;
    text-indent: 10px;
    padding: 10px 0 10px;
    font-weight: 400;
}

.editbutton {
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
    color: #222;
    background-color: #fff;
    width: 100%;
    height: 50px;
    padding: 12px 30px;
    display: none;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

.owner-img:hover > .editbutton {
    display: block !important;
    visibility: visible;
    opacity: 1;
}

.prestxt {
    margin: 10px 0;
    border: 1px solid rgb(224, 224, 224);
    font-weight: 400;
    text-indent: 5px;
    font-size: 18px;
    border-radius: 2px;
    width: 100%;
}

.presbtn {
    text-indent: 5px;
    font-size: 18px;
    border-radius: 2px;
    width: 100%;
    background-color: #fff;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 3px 3px 4px rgb(224, 224, 224);
    margin-top: 10px;
    padding: 2px;
    font-weight: 500;
    letter-spacing: 2px;
}

    .presbtn:hover {
        background-color: #F5F5F5 !important;
    }

.progress .progress-bar span {
    position: absolute;
    left: 0;
    right: 0;
    color: #fff;
    font-weight: 500;
}

.facebook_button_area > input {
    background-image: url('../img/Facebook-Logo-PNG-Pic.png');
    background-size: 52%;
    background-position: left;
    width: 240px;
    height: 50px;
    float: left;
    background-repeat: no-repeat;
    text-align: right;
}

#imzalamasebebleri {
    margin: 40px 0;
    text-align: left;
}

    #imzalamasebebleri > h3 {
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 10px;
        float: left;
        margin-top: 20px;
        width: 100%;
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 22px;
        line-height: normal;
        letter-spacing: normal;
    }

.icerik {
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0;
}

.imzasahibi {
    font-weight: 900;
    font-size: 14px;
    float: left;
}

.imzayeri {
    font-weight: 400;
}

.imzatarih {
    float: right;
    font-size: 12px;
}

#gSignInWrapper {
    width: auto;
    float: right;
}

#customBtn {
    background-image: url('../img/google-logo.png');
    background-size: 40%;
    background-position-x: 10px;
    width: 240px;
    height: 50px;
    float: left;
    background-repeat: no-repeat;
    text-align: right;
    margin-top: 10px;
    line-height: 50px;
    background-color: #fff;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 3px 3px 4px rgb(224, 224, 224);
    background-position-y: -20px;
    padding-right: 10px;
    font-weight: 400;
}

    #customBtn:hover {
        background-color: #F5F5F5 !important;
    }


@media screen and (max-width: 767px) {
    #data-area .imzala {
        padding-right: 0 !important;
    }

    #data-area .owner-area {
        text-align: center !important;
        float: none !important;
        margin-bottom: 15px !important;
    }

    #gSignInWrapper {
        width: 100% !important;
        text-align: center !important;
        margin: 0 auto !important;
        float: none !important;
        display: inline-block !important;
    }

    #customBtn {
        margin: 10px auto 0 !important;
        float: none;
    }

    .facebook_button_area {
        float: left;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

        .facebook_button_area .presbtn {
            float: none;
            margin: 0 auto;
        }
}
